<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="superponystrikeforce.remember" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diary"
            android:label="@string/title_activity_diary"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Weathery"
            android:label="@string/title_activity_weathery"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CalenderActivity"
            android:label="@string/title_activity_calender"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/listView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Popup"
            android:label="@string/pop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CalenderAdd" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmMainActivity"
            android:label="@string/title_activity_alarm_main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AlarmReceiverActivity"
            android:label="@string/title_activity_alarm_receiver"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AlarmPopup"
            android:label="@string/title_activity_alarm_main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ListViewLoader"
            android:label="@string/title_activity_alarm_main"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
